*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: white;
    background-color: #222;
}

.comics-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 300px;   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card img {
    max-width: 100%;
    border-radius: 4px;
}
.card h2 {
    font-size: 1.5em;
    margin: 0 0 8px 0;
}
.card p {
    margin: 8px 0;
}

a {
    color: coral;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #444;
    padding: 1rem;
}

.logo-box {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header nav > a {
    margin: 0 0.3rem;
}

.content-wrapper {
    padding: 1rem;
}

footer{
    padding: 1rem;
    background-color: #444;
}

nav a.active {
    font-weight: bold;
    color: red;
    text-decoration: underline;
}

.img-box{
    width: 300px;
    height: 300px;
}

.img-box > img{
    width: 100%;
    height: 100%;
}

.container-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
